rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check for admin role
    function isAdmin() {
      return request.auth != null && request.auth.token.role == "admin";
    }

    // /users/{uid}
    // Les utilisateurs peuvent lire/écrire leur propre profil.
    // Les administrateurs peuvent lire/écrire n'importe quel profil.
    match /users/{uid} {
      allow read, write: if request.auth.uid == uid || isAdmin();
    }

    // /orders/{orderId}
    // Les utilisateurs authentifiés peuvent lire les commandes.
    // Les utilisateurs peuvent créer/mettre à jour/supprimer leurs propres commandes.
    // Les administrateurs peuvent écrire sur n'importe quelle commande.
    match /orders/{orderId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (request.resource.data.createdByUid == request.auth.uid || isAdmin());
    }

    // /products/{productId}
    // Tout le monde peut lire les produits.
    // Seuls les administrateurs peuvent écrire sur les produits.
    match /products/{productId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
